h2{
    color: red;
    text-align: center;
    margin: 20px;
}

*{
    margin: 0;
    padding: 0;
}
.echartsPie{
    display: flex;
    justify-content: center;
    height: 280px;
}
.btn{
    text-align: center;
}

button{
    margin: 0 20px!important;
    width: 80px;
}

