h2{
    color: red;
    text-align: center;
    margin: 20px;
}

*{
    margin: 0;
    padding: 0;
}
.echartsRadar{
    display: flex;
    justify-content: center;
    height: 400px;
}
.echartsPie{
    display: flex;
    justify-content: center;
    height: 280px;
}
